# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# more
# Visual Studio/Qt Creator
*.vcxproj.user
*.sln
*.ncb
*.sdf
*.opensdf
*.suo
*.pdb
*.ipch
*.tlog
*.lastbuildstate
x64/
Debug/
Release/
.vscode/
.idea/
CMakeFiles/
CMakeCache.txt
*.pro.user
*.qmake.stash

